#### This file contains the problem statements and their solutuions for the assignment task given in Assignment **2**.

**Based on this dataframe answer the following 3 questions.**

In [13]:

import pandas as pd
data = {
    "OrderID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "CustomerName": ["Alice Smith", "Bob Johnson", "Charlie King", "Dana Lee", "Eva Davis",
                     "Frank Brown", "Grace Miller", "Henry Wilson", "Ivy Thomas", "Jack Moore"],
    "Product": ["Wireless Mouse", "Desk Lamp", "Coffee Mug", "Office Chair", "HDMI Cable",
                "Notebook", "Bluetooth Speaker", "Water Bottle", "Monitor Stand", "Stapler"],
    "Category": ["Electronics", "Furniture", "Kitchen", "Furniture", "Electronics",
                 "Stationery", "Electronics", "Kitchen", "Electronics", "Stationery"],
    "Quantity": [2, 1, 4, 1, 3, 5, 1, 2, 1, 3],
    "Price": [25.99, 45.50, 9.99, 199.99, 14.99, 3.49, 49.99, 12.99, 89.99, 5.99],
    "OrderDate": ["2024-08-01", "2024-08-02", "2024-08-03", "2024-08-04",
                                 "2024-08-05", "2024-08-06", "2024-08-07", "2024-08-08",
                                 "2024-08-09", "2024-08-10"],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Dallas",
             "New York", "Los Angeles", "Chicago", "Houston"],
    "PaymentMethod": ["Credit Card", "PayPal", "Debit Card", "Credit Card", "PayPal",
                      "Credit Card", "Debit Card", "PayPal", "Credit Card", "Debit Card"],
    "Discount": [0.1, 0.15, 0, 0.2, 0, 0.05, 0.1, 0.2, 0.1, 0.05]
}

df = pd.DataFrame(data)

In [12]:
df

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,PaymentMethod,Discount
0,101,Alice Smith,Wireless Mouse,Electronics,2,25.99,2024-08-01,New York,Credit Card,0.10
1,102,Bob Johnson,Desk Lamp,Furniture,1,45.50,2024-08-02,Los Angeles,PayPal,0.15
2,103,Charlie King,Coffee Mug,Kitchen,4,9.99,2024-08-03,Chicago,Debit Card,0.00
3,104,Dana Lee,Office Chair,Furniture,1,199.99,2024-08-04,Houston,Credit Card,0.20
4,105,Eva Davis,HDMI Cable,Electronics,3,14.99,2024-08-05,Phoenix,PayPal,0.00
5,106,Frank Brown,Notebook,Stationery,5,3.49,2024-08-06,Dallas,Credit Card,0.05
6,107,Grace Miller,Bluetooth Speaker,Electronics,1,49.99,2024-08-07,New York,Debit Card,0.10
7,108,Henry Wilson,Water Bottle,Kitchen,2,12.99,2024-08-08,Los Angeles,PayPal,0.20
8,109,Ivy Thomas,Monitor Stand,Electronics,1,89.99,2024-08-09,Chicago,Credit Card,0.10
9,110,Jack Moore,Stapler,Stationery,3,5.99,2024-08-10,Houston,Debit Card,0.05

**1.Extract all orders made in August 2024 (from the ``OrderDate`` column). How many such orders are there?**

In [17]:
result1 = df[pd.to_datetime(df["OrderDate"]).dt.month == 8]
print("Solution 1\n", result1, "\n")
print("Total Orders in August 2024:", len(result1), "\n")

Solution 1
    OrderID  CustomerName            Product     Category  Quantity   Price  \
0      101   Alice Smith     Wireless Mouse  Electronics         2   25.99
1      102   Bob Johnson          Desk Lamp    Furniture         1   45.50
2      103  Charlie King         Coffee Mug      Kitchen         4    9.99
3      104      Dana Lee       Office Chair    Furniture         1  199.99
4      105     Eva Davis         HDMI Cable  Electronics         3   14.99
5      106   Frank Brown           Notebook   Stationery         5    3.49
6      107  Grace Miller  Bluetooth Speaker  Electronics         1   49.99
7      108  Henry Wilson       Water Bottle      Kitchen         2   12.99
8      109    Ivy Thomas      Monitor Stand  Electronics         1   89.99
9      110    Jack Moore            Stapler   Stationery         3    5.99

    OrderDate         City PaymentMethod  Discount
0  2024-08-01     New York   Credit Card      0.10
1  2024-08-02  Los Angeles        PayPal      0.15
2  2024-08-03      Chicago    Debit Card      0.00
3  2024-08-04      Houston   Credit Card      0.20
4  2024-08-05      Phoenix        PayPal      0.00
5  2024-08-06       Dallas   Credit Card      0.05
6  2024-08-07     New York    Debit Card      0.10
7  2024-08-08  Los Angeles        PayPal      0.20
8  2024-08-09      Chicago   Credit Card      0.10
9  2024-08-10      Houston    Debit Card      0.05

Total Orders in August 2024: 10

**2. Find all orders where the total amount spent (calculated as `Quantity * Price`) is greater than 100. Display the `OrderID`, `CustomerName`, `TotalAmount`, and `PaymentMethod`.**

In [18]:
df["TotalAmount"] = df["Quantity"] * df["Price"]
result2 = df[df["TotalAmount"] > 100][["OrderID", "CustomerName", "TotalAmount", "PaymentMethod"]]
print("Soluton 2:\n", result2, "\n")

Soluton 2:
    OrderID CustomerName  TotalAmount PaymentMethod
3      104     Dana Lee       199.99   Credit Card

**3. Suppose some entries have a missing `Discount` value (fill them with `NaN`). Find all rows where the `Discount` is missing and replace those missing values with the average discount of the entire dataset. Display the modified DataFrame.**

In [22]:
import numpy as np
df.loc[2, "Discount"] = np.nan  # Introducing a missing value in row index 2 for demonstration
average_discount = df["Discount"].mean()
df["Discount"] = df["Discount"].fillna(average_discount)
print("Solution 3 (after filling missing discounts):\n", df, "\n")

Solution 3 (after filling missing discounts):
    OrderID  CustomerName            Product     Category  Quantity   Price  \
0      101   Alice Smith     Wireless Mouse  Electronics         2   25.99
1      102   Bob Johnson          Desk Lamp    Furniture         1   45.50
2      103  Charlie King         Coffee Mug      Kitchen         4    9.99
3      104      Dana Lee       Office Chair    Furniture         1  199.99
4      105     Eva Davis         HDMI Cable  Electronics         3   14.99
5      106   Frank Brown           Notebook   Stationery         5    3.49
6      107  Grace Miller  Bluetooth Speaker  Electronics         1   49.99
7      108  Henry Wilson       Water Bottle      Kitchen         2   12.99
8      109    Ivy Thomas      Monitor Stand  Electronics         1   89.99
9      110    Jack Moore            Stapler   Stationery         3    5.99

    OrderDate         City PaymentMethod  Discount  TotalAmount
0  2024-08-01     New York   Credit Card  0.100000        51.98
1  2024-08-02  Los Angeles        PayPal  0.150000        45.50
2  2024-08-03      Chicago    Debit Card  0.105556        39.96
3  2024-08-04      Houston   Credit Card  0.200000       199.99
4  2024-08-05      Phoenix        PayPal  0.000000        44.97
5  2024-08-06       Dallas   Credit Card  0.050000        17.45
6  2024-08-07     New York    Debit Card  0.100000        49.99
7  2024-08-08  Los Angeles        PayPal  0.200000        25.98
8  2024-08-09      Chicago   Credit Card  0.100000        89.99
9  2024-08-10      Houston    Debit Card  0.050000        17.97

**Answer next questions based on the iris dataset. Load the dataset first.**

**4. Split the Iris dataset into training and test sets with 75% of the data for training and 25% for testing. Print the number of samples in each set.**

In [27]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
# Load Iris dataset
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [25]:
# Split the dataset into training (75%) and testing (25%) sets
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :-1], df['target'], test_size=0.25, random_state=42)

# Print the number of samples in each set
print(f"Training set samples: {X_train.shape[0]}")
print(f"Testing set samples: {X_test.shape[0]}")

Training set samples: 112
Testing set samples: 38

**5. Train a Support Vector Machine (SVM) classifier on the Iris dataset using only the `sepal length` and `sepal width` features. Display the model's accuracy on the training data.**

In [26]:
# Train an SVM using 'sepal length' and 'sepal width' features
X_train_sepal = X_train[['sepal length (cm)', 'sepal width (cm)']]
X_test_sepal = X_test[['sepal length (cm)', 'sepal width (cm)']]

svm_model = SVC(random_state=42)
svm_model.fit(X_train_sepal, y_train)

# Display accuracy on the training data
train_accuracy = svm_model.score(X_train_sepal, y_train)
print(f"SVM Training Accuracy (using Sepal features): {train_accuracy}")

SVM Training Accuracy (using Sepal features): 0.7946428571428571